<header>
  <div class="logo">
    <h1> what to eat!! </h1>
    <h2> Best price guaranteed... </h2>
  </div>
  <div class="account">
    <ul>
      <li> <a href="/signup"> Sign up </a> </li>
      <li> <a href="/login"> Log in </a> </li>
    </ul>
  </div>
</header>

<% @items.each do |item| %>
  <div class="foodImage">
    <h3> <%= item.name %> </h3>
    <h3> $<%= item.price %> </h3>
    <img src="<%= item.picture %>">
    <h3> <%= item.info %> </h3>
    <h4> <%= item.store.name %> </h4>
    <h4> <%= item.store.address %> </h4>
  </div>

  <% if logged_in? %>
    <div class="comment">
      <form action="/add_comment" method="post">
        <input type="hidden" name="keyword" value="<%= params[:keyword]%>">
        <input type="hidden" name="item_id" value="<%= item.id %>">
        <textarea name="body"> </textarea>
        <button> Add Comment </button>
      </form>
    </div>
  <% end %>

  <ul>
    <% item.comments.each do |comment| %>
      <li><%= comment.body %></li>
      <%= comment.customer.email %> </li>

    <% if logged_in? %>
       <form action="/delete_comment" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="comment_id" value="<%= comment.id %>">
          <input type="hidden" name="keyword" value="<%= params[:keyword]%>">
          <button> delete </button>
        </form>
    <% end %>
  </ul>
 <% end %>
<% end %>
